<!-- Icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Prevent Overflow -->
<div class="over">
  <!-- Header -->
  <div class="bg-light row">
    <!-- Header Left-->
    <div class="col-lg-9 text-black-50 header">
      <div class="frontvl"><i class="fa fa-phone" style="margin-top: 17px;margin-left: 20px;"></i><span style="margin-left: 15px;margin-top: 17px;margin-right: 15px;">+149 75 23 222 35</span></div>
      <div class="frontvl"><i class="fa fa-envelope-o" style="margin-top: 17px;margin-left: 20px;"></i><span style="margin-left: 15px;margin-top: 17px;margin-right: 15px;">renovate@mail.com</span></div>
      <div class="frontvl backvl"><i class="fa fa-clock-o" style="margin-top: 17px;margin-left: 20px;"></i><span style="margin-left: 15px;margin-top: 17px;margin-right: 15px;">Mon - Fri: 08:00 - 17:00</span></div>
    </div>
    <!-- Header Right -->
    <div class="col-lg-3 text-black-50 icon">
      <div class="vl"></div><i class="fa fa-facebook" style="padding-left: 20px;margin-top: 17px;padding-right: 20px;"></i><div class="vl"></div>
      <i class="fa fa-twitter" style="padding-left: 20px;margin-top: 17px;padding-right: 20px;"></i><div class="vl"></div>
      <i class="fa fa-pinterest" style="padding-left: 20px;margin-top: 17px;padding-right: 20px;"></i><div class="vl"></div>
      <i class="fa fa-search" style="padding-left: 20px;margin-top: 17px;padding-right: 20px;"></i><div class="vl"></div>
    </div>

  </div>

  <!-- Navigation bar -->
  <div class="row pt-4 pb-4" style="justify-content: center;align-items: center;">
      <!-- Brand/logo -->
    <a class="col-lg-2" style="color: #fcba03;font-size: 40px;font-weight: 800;text-align: center;">RENOVATE</a>
      <!-- Links -->
    <div class="row col-lg-10 navlist">
      <div style="color: #fcba03;padding: 10px;">HOME</div>
      <div style="color: black;opacity: 0.8;padding: 10px;">SERVICES</div>
      <div style="color: black;opacity: 0.8;padding: 10px;">PROJECTS</div>
      <div style="color: black;opacity: 0.8;padding: 10px;">PAGES</div>
      <div style="color: black;opacity: 0.8;padding: 10px;">BLOG</div>
      <div style="color: black;opacity: 0.8;padding: 10px;">COST CALCULATOR</div>
      <div style="color: black;opacity: 0.8;padding: 10px;">CONTACT</div>
    </div>
  </div>

  <!-- Hero Image -->
  <div class="card" style="width:100%;">
    <img src="../../assets/images/landscape.png" height="600px">
    <div class="content">
      <div class="title">
        <h3 style="padding: 20px;margin-bottom: 0px;">PROFESSIONAL TILING AND PAINTING SERVICES</h3>
      </div> 
      <hr color="#fcba03" style="margin-top: 0px;margin-bottom: 0px;height: 2px;">
      <div style="padding: 20px;">
        <p>We combine quality workmanship, superior knowledge and low prices to provide you with 
          service unmatched by our competitors.</p>
        <button class="btn btn-outline-secondary text-white" 
        style="border-color: white;width: 200px;border-radius: 30px;padding: 15px;margin-bottom: 15px;">
        BUY THIS TEMPLATE</button>  
      </div>
    </div>
  </div>

  <!-- Cost of renovation -->
  <br>
  <div class="row" style="text-align: center;align-items: center;padding: 10px;">
    <div class="col-md-2">
      <img src="../../assets/images/wallet.jpg" class="rounded-circle" height="100px">
    </div>
    <div class="col-md-7 centre">
      <h2 style="padding-bottom: 5px;">COST OF RENOVATION</h2>
      <p>Use our form to estimate the initial cost of renovation or installation.</p> 
    </div>    
    <div class="col-md-3">
      <button type="button" class="btn btn-warning" 
      style="color: white;border-radius: 50px;font-weight: 500;padding: 12px;
      padding-left: 25px;padding-right: 25px;">REQUEST A QUOTE</button>
    </div>
  </div>
  <br>

  <!-- Our Services -->
  <div class="jumbotron text-center">
    <h2>OUR SERVICES</h2>
    <hr color="#fcba03" width="8%" style="height: 1.5px;">
    <br>
    <p style="width: 65%;margin: auto;">With over 15 years experience and real focus on customer satisfaction, 
    you can rely on us for your next renovation, driveway sett or home repair. We provide a professional 
    service of private and commercial customers.</p>
    <br><br>
    <!-- Our Services Division -->
    <div class="card">
      <div class="row" style="padding: 15px;padding-top: 0;">
        <div class="col-sm-4" style="padding: 0;">
          <img class="card-img-top" src="../../assets/images/tool1.jpg">
          <br><br>
          <h5>INTERIOR RENOVATION</h5>
          <hr color="#fcba03" width="10%" style="height: 1px;">
          <p style="padding: 15px;">We can help you bring new life to existing rooms and 
            develop unused spaces.</p>
        </div>
        <div class="col-sm-4" style="padding: 0;">
          <img class="card-img-top" src="../../assets/images/tool2.jpg">
          <br><br>
          <h5>DESIGN AND BUILD</h5>
          <hr color="#fcba03" width="10%" style="height: 1px;">
          <p style="padding: 15px;">From intial design and project specification to archieving 
            a high end finish.</p>
        </div>
        <div class="col-sm-4" style="padding: 0;">
          <img class="card-img-top" src="../../assets/images/tool3.jpg">
          <br><br>
          <h5>TILING AND PAINTING</h5>
          <hr color="#fcba03" width="10%" style="height: 1px;">
          <p style="padding: 15px;">We offer high quality tiling and painting solutions for 
            interior and exterior.</p>
        </div>
      </div>
    </div>
    <br>
    <!-- View all Services Button -->
    <button type="button" class="btn btn-warning" style="color: white;border-radius: 50px;font-weight: 500;
    padding: 12px;padding-left: 25px;padding-right: 25px;margin-top: 25px;">VIEW ALL SERVICES</button>
  </div>
  
  <!-- Recent Projects -->
  <br>
  <h2 style="text-align: center;">RECENT PROJECTS</h2>
  <hr color="#fcba03" width="6%" style="height: 1.5px;">
  <br>
  <p style="width: 60%;margin: auto;text-align: center;">Here are a few of many projects we have 
    completed for our customers. We provide a professional service which includes consultation, 
    free estimate, design, supply of materials and installation.</p>
  <br><br>
  <!-- Recent Projects Image Division -->
  <div class="card-body" style="padding: 0;">
    <div class="row">
      <div class="col-sm-3" style="padding: 0;">
        <img class="card-img-top" src="../../assets/images/tool1.jpg">
      </div>
      <div class="col-sm-3" style="padding: 0;">
        <img class="card-img-top" src="../../assets/images/tool2.jpg">
      </div>
      <div class="col-sm-3" style="padding: 0;">
        <img class="card-img-top" src="../../assets/images/tool3.jpg">
      </div>
      <div class="col-sm-3" style="padding: 0;">
        <img class="card-img-top" src="../../assets/images/tool3.jpg">
      </div>
    </div>
  </div>

  <!-- Explore our project -->
  <div class="bg-light pt-5 pb-5 explore">
    <div style="margin-top: 11px;">
      <h4>EXPLORE OUR PRODUCTS</h4>
    </div>
    <div>
      <button type="button" class="btn btn-warning">VIEW ALL PRODUCTS</button>
    </div>
  </div>
  <br>

  <!-- About us -->
  <h2 style="text-align: center;">ABOUT US</h2>
  <hr color="#fcba03" width="6%" style="height: 1.5px;">
  <br>
  <p style="width: 57%;margin: auto;text-align: center;">We provide a professional renovation and installation services with a real
    focus on customer satisfaction. Our installations are carried out by fully trained staff to the highest professional standards.</p>
  <br>
  <!-- About Us Division -->
  <div class="row pb-5">
    <!-- Left Side -->
    <div class="col-lg-6" style="text-align: center;padding-top: 30px;">
      <img src="../../assets/images/carpenter.jpg" class="rounded-circle aboutImg" >
    </div>
    <!-- Right Side -->
    <div class="col-lg-6" style="padding: 25px;margin-top: 30px;">
      <div style="display: flex;">
        <div><img src="../../assets/images/wallet.jpg" class="rounded-circle" height="100px"></div>
        <div style="margin-left: 25px;"><h4>OVER 15 YEARS EXPERIENCE</h4><p style="padding-top: 10px;">
          We combine quality workmanship, superior knowledge and low prices
          to provide you with service unmatched by our competitors.</p>
        </div>
      </div>
      <br>
      <div style="display: flex;">
        <div><img src="../../assets/images/wallet.jpg" class="rounded-circle" height="100px"></div>
        <div style="margin-left: 25px;"><h4>BEST MATERIALS</h4><p style="padding-top: 10px;">
          We have the experience, personel and resources to make the project run smoothly.
          We can ensure a job is done on time.</p>
        </div>
      </div>
      <br>
      <div style="display: flex;">
        <div><img src="../../assets/images/wallet.jpg" class="rounded-circle" height="100px"></div>
        <div style="margin-left: 25px;"><h4>PROFESSIONAL STANDARDS</h4><p style="padding-top: 10px;">
          Work with us involve a  carefully planned series of steps, centered around a
          schedule we stick to and daily communication.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Our Offer -->
  <div class="card bg-light text-dark">
    <div class="card-body" style="padding: 4.25rem;">
      <!-- Our Offer Division -->
      <div class="row" style="text-align: center;justify-content: center;">
        <div class="col-md-4 col-lg-3">
          <img src="../../assets/images/wallet.jpg" style="width:200px;" (click)="myFunction('offer')">
        </div>
        <div class="col-md-4 col-lg-3">
          <img src="../../assets/images/wallet.jpg" style="width:200px;" (click)="myFunction('guarantee');">
        </div>
        <div class="col-md-4 col-lg-3">
          <img src="../../assets/images/wallet.jpg" style="width:200px;" (click)="myFunction('provide');">
        </div>
      </div>
      <!-- Text from Image -->
      <div class="imgtext" style="color: black;width: 100%;text-align: center;font-size: xx-large;
      font-weight: 400;margin-left: -8px;margin-top: 15px;">
      OUR OFFER
      </div>
      <hr color="#fcba03" width="4%" style="height: 1.5px;">
      <div id="desctext" style="color: black;text-align: center;">
        OFFER a professional renovation and installation services with a real
        focus on customer satisfaction. Our installations are carried out by fully
        trained staff to the highest professional standards.<br>
      </div>
    </div>
  </div>
<!-- ............................................................................................ -->

  <!-- Why choose renovate -->
  <br><br>
  <h2 style="text-align: center;padding: 0px 10px;">WHY CHOOSE RENOVATE</h2>
  <hr color="#fcba03" width="7%" style="height: 1.5px;">
  <br>
  <p style="width: 60%;margin: auto;text-align: center;">Founded by Kevin Smith in 2000, Renovate has established itself as one of the 
    greatest and prestigious providers of construction focused interior renovation services and building.</p>
<br>
<div class="row" style="justify-content: center;padding: 40px;">
  <div class="col-md-4" style="text-align: center;">
    <img src="../../assets/images/wallet.jpg" style="width:200px" class="rounded-circle">
    <br><br>
          <h5 >OVER 15 YEARS EXPERIENCE</h5>
          <hr color="#fcba03" width="10%" style="height: 1px;">
          <p>We can help you bring new life to existing rooms and develop unused spaces.</p>
  </div>
  <div class="col-md-4" style="text-align: center;">
    <img src="../../assets/images/wallet.jpg" style="width:200px" class="rounded-circle">
    <br><br>
          <h5 >BEST MATERIALS</h5>
          <hr color="#fcba03" width="10%" style="height: 1px;">
          <p>From intial design and project specification to archieving a high end finish.</p>
  </div>
  <div class="col-md-4" style="text-align: center;">
    <img src="../../assets/images/wallet.jpg" style="width:200px" class="rounded-circle">
    <br><br>
          <h5>PROFESSIONAL STANDARDS</h5>
          <hr color="#fcba03" width="10%" style="height: 1px;">
          <p>We offer high quality tiling and painting solutions for interior and exterior.</p>
  </div>
</div>

<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides">
    <img src="../../assets/images/carousel1.jpg" class="slideImg">
    <div class="slid">
      <div class="text">
        "We would like to thank Renovate Company for an oustanding effort on this recently completed project
        located in the Moscow. The project involved a very aggressive schedule and it was completed on time.
        We would certainly like to use their professional services again."
      <hr color="#fcba03" width="6%" class="slideLine">
      <div class="subtitle">MITCHEL SMITH</div>
      <div class="subtitle">CEO OF NEW PORT COMPANY</div>
    </div>
    </div>
  </div>

  <div class="mySlides">
    <img src="../../assets/images/tool2.jpg" class="slideImg">
    <div class="slid">
      <div class="text">
        Caption Two
    </div>
    </div>
  </div>

  <div class="mySlides">
    <img src="../../assets/images/tool3.jpg" class="slideImg">
    <div class="slid">
      <div class="text">
        Caption Three
    </div>
    </div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>

<!-- We work with -->
<div class="card bg-light text-dark">
  <div class="card-body">
    <h3 style="text-align: center;letter-spacing: 2px;" class="pt-5">WE WORK WITH</h3>
    <hr color="#fcba03" width="6%" style="height: 2px;margin-top: 30px;">
<br><br>
<div style="text-align: center;height: 100%;">

  <div class="carouse">
    <img src="../../assets/images/tool1.jpg" class="dotImg">
    <img src="../../assets/images/tool2.jpg" class="dotImg">
    <img src="../../assets/images/tool1.jpg" class="dotImg">
    <img src="../../assets/images/tool3.jpg" class="dotImg">
    <img src="../../assets/images/tool1.jpg" class="dotImg">
    <img src="../../assets/images/tool3.jpg" class="dotImg">
  </div>

  <div class="carouse">
    <img src="../../assets/images/tool3.jpg" class="dotImg">
    <img src="../../assets/images/tool1.jpg" class="dotImg">
    <img src="../../assets/images/tool3.jpg" class="dotImg">
    <img src="../../assets/images/tool2.jpg" class="dotImg">
    <img src="../../assets/images/tool3.jpg" class="dotImg">
    <img src="../../assets/images/tool2.jpg" class="dotImg">
  </div>

</div>

<!-- The dots/circles -->
<div style="text-align:center;" class="pt-5 pb-4">
  <span class="dot" (click)="currentCar(1)"></span>
  <span class="dot" (click)="currentCar(2)"></span>
</div>
  </div>
</div>

<!-- Contact Information -->
<div class="card bg-warning text-white">
  <div class="card-body row" style="justify-content: center;">
    <div style="padding: 15px;" class="col-md-4 row"><img src="../../assets/images/wallet.jpg" class="rounded-circle col-4" height=100>
      <a  class="col-7" style="padding: 12px;">Phone:<p>+149 75 23 222 35</p> </a></div>
    <div style="padding: 15px;" class="col-md-4 row"><img src="../../assets/images/wallet.jpg" class="rounded-circle col-4" height=100>
      <a class="col-7" style="padding: 12px;">272 Linden Avenue Winter Park, FL 32789 </a></div>
    <div style="padding: 15px;" class="col-md-4 row"><img src="../../assets/images/wallet.jpg" class="rounded-circle col-4" height=100>
      <a  class="col-7" style="padding: 12px;">E-mail: <p>renovate@mail.com</p></a></div>
  </div>
  </div>

<!-- 4 Div -->
<div class="card bg-light text-dark">
  <div class="card-body">
    <div class="row">
      <!-- Div1 -->
      <div class="col-md-3" style="padding-top: 15px;"><b>About Us</b>
        <div style="display: flex;"><hr color="#fcba03" width="20%" style="height:2px"><hr color="#b3b1b1" width="80%"></div>       
        Founded by Kevin Smith back in 2000. Reovate has established itself as one of the greatest
        and prestigious providers of construction focused interior renovation  services and building.
        <div style="display: inline-flex;" class="text-white" style="padding-top: 30px;">
          <i class="fa fa-facebook" style="padding:20px;background-color: #fcba03;border: solid;border-color: white;border-width: 0.5px;"></i>
          <i class="fa fa-twitter" style="padding:20px;background-color: #fcba03;border: solid;border-color: white;border-width: 0.5px;"></i>
          <i class="fa fa-linkedin" style="padding:20px;background-color: #fcba03;border: solid;border-color: white;border-width: 0.5px;"></i>
          <i class="fa fa-pinterest" style="padding:20px;background-color: #fcba03;border: solid;border-color: white;border-width: 0.5px;"></i>
        </div>
      </div>
      <!-- Div2 -->
        <div class="col-md-3 footer" style="padding-top: 15px;"><b>Our Services</b>
          <div style="display: flex;"><hr color="#fcba03" width="20%" style="height:2px"><hr color="#b3b1b1" width="80%"></div>       
          <ul style="padding: 0;">
          <li style="padding-top: 10px;"> Interior Renovation</li>
          <li style="padding-top: 10px;"> Design and Build</li>
          <li style="padding-top: 10px;"> Tiling and Painting</li>
          <li style="padding-top: 10px;"> Paver Walkways</li>
          <li style="padding-top: 10px;"> Household Repairs</li>
          <li style="padding-top: 10px;"> Solar Systems</li>
        </ul>
      </div>
      <!-- Div3 -->
      <div class="col-md-3" style="padding-top: 15px;"><b>Categories</b>
        <div style="display: flex;"><hr color="#fcba03" width="20%" style="height:2px"><hr color="#b3b1b1" width="80%"></div>       
        <div class="d-flex flex-wrap bg-light">
          <div class="p-2 border" style="margin-top: 10px;margin-left: 10px;">Build</div>
          <div class="p-2 border" style="margin-top: 10px;margin-left: 10px;">Design</div>
          <div class="p-2 border" style="margin-top: 10px;margin-left: 10px;">Flooring</div>
          <div class="p-2 border" style="margin-top: 10px;margin-left: 10px;">Painting</div>
          <div class="p-2 border" style="margin-top: 10px;margin-left: 10px;">Pavers</div>
          <div class="p-2 border" style="margin-top: 10px;margin-left: 10px;">Plumbing</div>
          <div class="p-2 border" style="margin-top: 10px;margin-left: 10px;">Renovation</div>
          <div class="p-2 border" style="margin-top: 10px;margin-left: 10px;">Repairs</div>
          <div class="p-2 border" style="margin-top: 10px;margin-left: 10px;">Solar Systems</div>
          <div class="p-2 border" style="margin-top: 10px;margin-left: 10px;">Tiling</div>
        </div>
      </div>
      <!-- Div4 -->
      <div class="col-md-3" style="padding-top: 15px;">
        <b>Latest Posts</b>
        <div style="display: flex;">
          <hr color="#fcba03" width="20%" style="height:2px">
          <hr color="#b3b1b1" width="80%">
        </div>       
        <div class="footerFour">
          <div><img src="../../assets/images/tool1.jpg" height=100 width="100"></div>
          <div class="footerFourHeadline">
            What a Difference a Few Months Make
            <div style="font-size: 10px;padding-top: 10px;">April 25, 2015</div>
          </div>
        </div>
          <br>
          <div class="footerFour">
            <div><img src="../../assets/images/tool2.jpg" height=100 width="100"></div>
            <div class="footerFourHeadline">
              Kitchen and Living Room Renovation<br>
             <div style="font-size: 10px;padding-top: 10px;">April 17, 2015</div>
            </div>
          </div>
          <br>
          
      </div>
    </div>
  </div>
</div>

<p style="text-align: center;height: 100;padding-top: 30px;padding-bottom: 15px;">@Copyright 2015 Renovate Template by QaunticaLabs</p>
</div>