// Prevent Overflow from whole code
.over{
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  }

// Header Line Placement
.header{//Left Side of Header
  display: inline-flex;
  justify-content: left;
  padding-left: 60px;

  .header-icon{
    margin-top: 17px;
    margin-left: 20px;
  }

  .header-text{
    margin-left: 15px;
    margin-top: 17px;
    margin-right: 15px;
  }
}

@media (max-width: 699px){
  .header{
    display: block;
    text-align: center;
    padding-left: 0px;
  }
}

@media (min-width: 700px) and (max-width:991px){
  .header{
    padding-left: 0px;
    justify-content: center;
  }
}

.icon{//Right Side of Header
  display: inline-flex;
  place-content: flex-end;
  padding-right: 50px;

  .icon-style{
    padding-left: 20px;
    margin-top: 17px;
    padding-right: 20px;
  }
}

@media (max-width: 991px){
  .icon{
    place-content: center;
    padding-right: 0px;
  }
}

.frontvl{//Left Vertical line of Header Left
  border-left: 1px solid;
  height: 50px;
  opacity: 0.5;;
}

.backvl{//Right Vertical line of Header Left
  border-right: 1px solid;
  height: 50px;
  opacity: 0.5;;
}

@media (max-width: 699px){
  .frontvl, .backvl{
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-width: thin;
  }
}

.vl {//Vertical line of Header Right
  border-left: 1px solid;
  height: 50px;
  opacity: 0.5;;
}

// Nav Item Placement
.navbar{
  justify-content: center;
  align-items: center;

  .logo{
    color: #fcba03;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
  }

  .navlist{
    place-content: flex-end;
    font-size: 20px;

    .active{
      color: #fcba03;
      padding: 10px;
      background-color: white;
    }

    .inactive{
      color: black;
      opacity: 0.8;
      padding: 10px;
    }
  }
}


@media (max-width: 991px){
  .navbar{
    .navlist{
      place-content: center;
    }
  }
}

// Hero Component
.hero-image{
  height: 600px;
}
.content {//Box with content
  position: absolute; /* Position the background text */
  bottom: 25%; /* At the bottom. Use top:0 to append it to the top */
  left: 2%;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 96%; /* Full width */
  max-width: 400px;

  .title {//Upper Box Darkness
    background-color: rgba(0,0,0,0.5);
  
    .title-text{
      padding: 20px;
      margin-bottom: 0px;
    }
  }

  .content-divider{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 2px;
    background: #fcba03;
  }

  .content-text{
    padding: 20px;
  }

  .hero-button{
    border-color: white;
    width: 200px;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 15px;
  }
}

// Cost of Renovation
.renovation{
  text-align: center;
  align-items: center;
  padding: 10px;

  .image{
    height: 100px;
  }

  .centre {
    text-align: center;

    .renovation-heading{
      padding-bottom: 5px;
    }
  }

  .renovation-button{
    color: white;
    border-radius: 50px;
    font-weight: 500;
    padding: 12px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 768px){
  .renovation{
    .centre {
      text-align: left;
    }
  }
}

// Services
.services-underline{
  height: 1.5px;
  background: #fcba03;
  width: 8%;
}

.services-text{
  width: 65%;
  margin: auto;
}

.services-box{
  padding: 15px;
  padding-top: 0;

  .subheading-underline{
    height: 1px;
    width: 10%;
    background: #fcba03;
  }

  .subheading-text{
    padding: 15px;
  }
}

.service-button{
  color: white;
  border-radius: 50px;
  font-weight: 500;
  padding: 12px 25px;
  margin-top: 25px;
}

// Recent Projects
.projects-underline{
  background: #fcba03;
  height: 1.5px;
  width: 6%;
}

.projects-text{
  width: 60%;
  margin: auto;
  text-align: center;
}

// Explore and Button
.explore{
  justify-content: center;
  display:flex;
  padding: 20px;
  align-items: center;
  
  .heading{
    margin-top: 10px;

    h4{
      padding-right: 15px;
    }
  }

  button{
    margin-left: 50px;
    color: white;
    border-radius: 50px;
    font-weight: 500;
    padding: 12px 25px;
  }
}

@media (max-width: 768px){
  .explore{
    display:block;
    text-align: center;

    .heading{
      h4{
        padding-right: 0px;
      }
    }
    
    button{
      margin-left: 0px;
      margin-top: 20px;
      }
  }
}

// About Us
.about-underline{
  background: #fcba03;
  height: 1.5px;
  width: 6%;
}

.about-text{
  width: 57%;
  margin: auto;
  text-align: center;
}

.about-left-side{
  text-align: center;
  padding-top: 30px;

  .aboutImg{
    height: 470px;
    width: 80%;
  }
}

@media (max-width: 425px){
  .about-left-side{
    .aboutImg{
      height: 300px;
    }
  }  
}

.about-right-side{
  padding: 25px;
  margin-top: 30px;

  .about-right-row{
    display: flex;

    .img-height{
      height: 100px;
    }

    .content-box{
      margin-left: 25px;

      .content-text{
        padding-top: 10px;
      }
    }

  }
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  height: 500px;
}

@media (max-width: 768px){
  .slideshow-container {
    height: 250px;
}
}

// Offer
.offer-box{
  padding: 4.25rem;

  .offer-img{
    width: 200px;
  }

  .offer-heading{
    color: black;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: 400;
    margin-left: -8px;
    margin-top: 15px;
  }

  .offer-underline{
    background: #fcba03;
    height: 1.5px;
    width: 50px;
  }
}

// Why renovate
.renovate-heading{
  text-align: center;
  padding: 0px 10px;
}

.renovate-underline{
  background: #fcba03;
  height: 1.5px;
  width: 7%;
}

.renovate-text{
  width: 60%;
  margin: auto;
  text-align: center;
}

.renovate-box{
  justify-content: center;
  padding: 40px;

  .renovate-img{
    width: 200px; 
  }

  .renovate-subheading-underline{
    background: #fcba03;
    height: 1px;
    width: 10%;
  }
}

// Slideshow
.mySlides {/* Hide the images by default */
  display: table-cell;
  }

// Slideshow Image for Mobile
.slideImg{
  width: 100%;
  }

  @media (max-width: 425px){
    .slideImg {
      height: 250px;
    }
  }

.slid {/* Dark Background*/
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}

.text{ //Inside Text Content
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  bottom: 15%;
  width: 80%;
  left: 10%;
  text-align: center;
  font-size: 22px;
  }
  
  @media (max-width:768px){
      .text{
        font-size: 10px;
      }
  }

.slideLine{//Divider Line between Text
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 6%;
  background: #fcba03;
  }
  
  @media (max-width:768px){
    .slideLine{
      margin-top: 10px;
      margin-bottom: 10px;
      }
  }

// Slideshow Content Last Two Lines
.subtitle{
  font-size: 16px;
}

@media (max-width:768px){
  .subtitle{
    font-size: 8px;
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

// We work with
.work-heading{
  text-align: center;
  letter-spacing: 2px;
}

.work-underline{
  height: 2px;
  margin-top: 30px;
  width: 6%;
  background: #fcba03;
}

.work-box{
  text-align: center;
  height: 100%;

  .carouse{
    display: inline-flex;

    .dotImg{
      padding: 15px 15px;
      width: 225px;
      height: 150px;
    }
  }
}

.dot {/* The dots/bullets/indicators */
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {//Hover dot
  background-color: #fcba03;
}

// Contact
.contact-col{
  padding: 15px;

  .contact-img{
    height: 100px;
  }

  .contact-text{
    padding: 10px;
  }
}

// Footer
.divider-lines{
  display: flex;

  .first{
    height: 2px;
    background: #fcba03;
    width: 20%;
  }
  .second{
    width: 80%;
    background: #b3b1b1;
  }
}

// Footer First Part
.footer-icon{
  padding:20px;
  background-color: #fcba03;
  border: solid;
  border-color: white;
  border-width: 0.5px;
}


// Footer Second Part
.footer{//Bullet Point

  ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✓';
    color: darkorange;
    font-weight: bolder;
    padding-right: 10px;
  }
}

// Footer Fourth Part
.footerFour{
  display: flex;
  text-align: left;

  .footer-img{
    height: 100px;
    width: 100px;
  }

  .footerFourHeadline{
    padding-left: 15px;

    .date{
      font-size: 10px;
      padding-top: 10px;
    }
  }
}

@media (min-width: 768px) and (max-width:838px){
  .footerFour{
    display: block;
    text-align: center;
    .footerFourHeadline{
      padding-left: 0px;
      padding-top: 10px;
    }
  }
}

// Copyright
.copyright{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 14px;
}