<!-- Icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Prevent Overflow -->
<div class="over">
  <!-- Header -->
  <div class="bg-light row">
    <!-- Header Left-->
    <div class="col-lg-9 text-black-50 header">
      <div class="frontvl">
        <i class="fa fa-phone header-icon"></i>
        <span class="header-text">+149 75 23 222 35</span>
      </div>
      <div class="frontvl">
        <i class="fa fa-envelope-o header-icon"></i>
        <span class="header-text">renovate@mail.com</span>
      </div>
      <div class="frontvl backvl">
        <i class="fa fa-clock-o header-icon"></i>
        <span class="header-text">Mon - Fri: 08:00 - 17:00</span>
      </div>
    </div>
    <!-- Header Right -->
    <div class="col-lg-3 text-black-50 icon">
      <div class="vl"></div>
      <i class="fa fa-facebook icon-style"></i>
      <div class="vl"></div>
      <i class="fa fa-twitter icon-style"></i>
      <div class="vl"></div>
      <i class="fa fa-pinterest icon-style"></i>
      <div class="vl"></div>
      <i class="fa fa-search icon-style"></i>
      <div class="vl"></div>
    </div>
  </div>

  <!-- Navigation bar -->
  <div class="row pt-4 pb-4 navbar">
      <!-- Brand/logo -->
    <a class="col-lg-2 logo">RENOVATE</a>
      <!-- Links -->
    <div class="row col-lg-10 navlist">
      <div class="active">HOME</div>
      <div class="inactive">SERVICES</div>
      <div class="inactive">PROJECTS</div>
      <div class="inactive">PAGES</div>
      <div class="inactive">BLOG</div>
      <div class="inactive">COST CALCULATOR</div>
      <div class="inactive">CONTACT</div>
    </div>
  </div>

  <!-- Hero Image -->
  <div class="card">
    <img src="../../assets/images/landscape.png" class="hero-image">
    <div class="content">
      <div class="title">
        <h3 class="title-text">PROFESSIONAL TILING AND PAINTING SERVICES</h3>
      </div> 
      <hr class="content-divider">
      <div class="content-text">
        <p>We combine quality workmanship, superior knowledge and low prices to provide you with 
          service unmatched by our competitors.</p>
        <button class="btn btn-outline-secondary text-white hero-button">BUY THIS TEMPLATE</button>  
      </div>
    </div>
  </div>

  <!-- Cost of renovation -->
  <br>
  <div class="row renovation">
    <div class="col-md-2">
      <img src="../../assets/images/wallet.jpg" class="rounded-circle image">
    </div>
    <div class="col-md-7 centre">
      <h2 class="renovation-heading">COST OF RENOVATION</h2>
      <p>Use our form to estimate the initial cost of renovation or installation.</p> 
    </div>    
    <div class="col-md-3">
      <button type="button" class="btn btn-warning renovation-button">REQUEST A QUOTE</button>
    </div>
  </div>
  <br>

  <!-- Our Services -->
  <div class="jumbotron text-center">
    <h2>OUR SERVICES</h2>
    <hr class="services-underline">
    <br>
    <p class="services-text">With over 15 years experience and real focus on customer satisfaction, 
    you can rely on us for your next renovation, driveway sett or home repair. We provide a professional 
    service of private and commercial customers.</p>
    <br><br>
    <!-- Our Services Division -->
    <div class="card">
      <div class="row services-box" >
        <div class="col-sm-4 p-0">
          <img class="card-img-top" src="../../assets/images/tool1.jpg">
          <br><br>
          <h5>INTERIOR RENOVATION</h5>
          <hr class="subheading-underline">
          <p class="subheading-text">We can help you bring new life to existing rooms and 
            develop unused spaces.</p>
        </div>
        <div class="col-sm-4 p-0">
          <img class="card-img-top" src="../../assets/images/tool2.jpg">
          <br><br>
          <h5>DESIGN AND BUILD</h5>
          <hr class="subheading-underline">
          <p class="subheading-text">From intial design and project specification to archieving 
            a high end finish.</p>
        </div>
        <div class="col-sm-4 p-0">
          <img class="card-img-top" src="../../assets/images/tool3.jpg">
          <br><br>
          <h5>TILING AND PAINTING</h5>
          <hr class="subheading-underline">
          <p class="subheading-text">We offer high quality tiling and painting solutions for 
            interior and exterior.</p>
        </div>
      </div>
    </div>
    <br>
    <!-- View all Services Button -->
    <button type="button" class="btn btn-warning service-button">VIEW ALL SERVICES</button>
  </div>
  
  <!-- Recent Projects -->
  <br>
  <h2 class="text-center">RECENT PROJECTS</h2>
  <hr class="projects-underline">
  <br>
  <p class="projects-text">Here are a few of many projects we have 
    completed for our customers. We provide a professional service which includes consultation, 
    free estimate, design, supply of materials and installation.</p>
  <br><br>
  <!-- Recent Projects Image Division -->
  <div class="card-body p-0">
    <div class="row">
      <div class="col-sm-3 p-0">
        <img class="card-img-top" src="../../assets/images/tool1.jpg">
      </div>
      <div class="col-sm-3 p-0">
        <img class="card-img-top" src="../../assets/images/tool2.jpg">
      </div>
      <div class="col-sm-3 p-0">
        <img class="card-img-top" src="../../assets/images/tool3.jpg">
      </div>
      <div class="col-sm-3 p-0">
        <img class="card-img-top" src="../../assets/images/tool3.jpg">
      </div>
    </div>
  </div>

  <!-- Explore our project -->
  <div class="bg-light pt-5 pb-5 explore">
    <div class="heading">
      <h4>EXPLORE OUR PRODUCTS</h4>
    </div>
    <div>
      <button type="button" class="btn btn-warning">VIEW ALL PRODUCTS</button>
    </div>
  </div>
  <br>

  <!-- About us -->
  <h2 class="text-center">ABOUT US</h2>
  <hr class="about-underline">
  <br>
  <p class="about-text">We provide a professional renovation and installation services with a real
    focus on customer satisfaction. Our installations are carried out by fully trained staff to the highest professional standards.</p>
  <br>
  <!-- About Us Division -->
  <div class="row pb-5">
    <!-- Left Side -->
    <div class="col-lg-6 about-left-side">
      <img src="../../assets/images/carpenter.jpg" class="rounded-circle aboutImg" >
    </div>
    <!-- Right Side -->
    <div class="col-lg-6 about-right-side" >
      <div class="about-right-row">
        <div><img src="../../assets/images/wallet.jpg" class="rounded-circle img-height"></div>
        <div class="content-box">
          <h4>OVER 15 YEARS EXPERIENCE</h4>
          <p class="content-text">
          We combine quality workmanship, superior knowledge and low prices
          to provide you with service unmatched by our competitors.</p>
        </div>
      </div>
      <br>
      <div class="about-right-row">
        <div><img src="../../assets/images/wallet.jpg" class="rounded-circle img-height"></div>
        <div class="content-box">
          <h4>BEST MATERIALS</h4>
          <p class="content-text">
          We have the experience, personel and resources to make the project run smoothly.
          We can ensure a job is done on time.</p>
        </div>
      </div>
      <br>
      <div class="about-right-row">
        <div><img src="../../assets/images/wallet.jpg" class="rounded-circle img-height"></div>
        <div class="content-box">
          <h4>PROFESSIONAL STANDARDS</h4>
          <p class="content-text">
          Work with us involve a  carefully planned series of steps, centered around a
          schedule we stick to and daily communication.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Our Offer -->
  <div class="card bg-light text-dark">
    <div class="card-body offer-box">
      <!-- Our Offer Division -->
      <div class="row text-center justify-content-center">
        <div class="col-md-4 col-lg-3">
          <img src="../../assets/images/wallet.jpg" class="offer-img" (click)="myFunction('offer')">
        </div>
        <div class="col-md-4 col-lg-3">
          <img src="../../assets/images/wallet.jpg" class="offer-img" (click)="myFunction('guarantee');">
        </div>
        <div class="col-md-4 col-lg-3">
          <img src="../../assets/images/wallet.jpg" class="offer-img" (click)="myFunction('provide');">
        </div>
      </div>
      <!-- Text from Image -->
      <div class="imgtext offer-heading" >
      OUR OFFER
      </div>
      <hr class="offer-underline">
      <div id="desctext" class="text-black text-center">
        OFFER a professional renovation and installation services with a real
        focus on customer satisfaction. Our installations are carried out by fully
        trained staff to the highest professional standards.<br>
      </div>
    </div>
  </div>

  <!-- Why choose renovate -->
  <br><br>
  <h2 class="renovate-heading">WHY CHOOSE RENOVATE</h2>
  <hr class="renovate-underline">
  <br>
  <p class="renovate-text">Founded by Kevin Smith in 2000, Renovate has established itself as one of the 
    greatest and prestigious providers of construction focused interior renovation services and building.</p>
  <br>
  <div class="row renovate-box">
    <div class="col-md-4 text-center">
      <img src="../../assets/images/wallet.jpg" class="rounded-circle renovate-img">
      <br><br>
      <h5>OVER 15 YEARS EXPERIENCE</h5>
      <hr class="renovate-subheading-underline">
      <p>We can help you bring new life to existing rooms and develop unused spaces.</p>
    </div>
    <div class="col-md-4 text-center">
      <img src="../../assets/images/wallet.jpg" class="rounded-circle renovate-img">
      <br><br>
      <h5>BEST MATERIALS</h5>
      <hr class="renovate-subheading-underline">
      <p>From intial design and project specification to archieving a high end finish.</p>
    </div>
    <div class="col-md-4 text-center">
      <img src="../../assets/images/wallet.jpg" class="rounded-circle renovate-img">
      <br><br>
      <h5>PROFESSIONAL STANDARDS</h5>
      <hr class="renovate-subheading-underline">
      <p>We offer high quality tiling and painting solutions for interior and exterior.</p>
    </div>
  </div>

  <!-- Slideshow container -->
  <div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    <div class="mySlides">
      <img src="../../assets/images/carousel1.jpg" class="slideImg">
      <div class="slid">
        <div class="text">
          "We would like to thank Renovate Company for an oustanding effort on this recently completed project
          located in the Moscow. The project involved a very aggressive schedule and it was completed on time.
          We would certainly like to use their professional services again."
        <hr class="slideLine">
        <div class="subtitle">MITCHEL SMITH</div>
        <div class="subtitle">CEO OF NEW PORT COMPANY</div>
      </div>
      </div>
    </div>

    <div class="mySlides">
      <img src="../../assets/images/tool2.jpg" class="slideImg">
      <div class="slid">
        <div class="text">
          Caption Two
      </div>
      </div>
    </div>

    <div class="mySlides">
      <img src="../../assets/images/tool3.jpg" class="slideImg">
      <div class="slid">
        <div class="text">
          Caption Three
      </div>
      </div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  </div>

  <!-- We work with -->
  <div class="card bg-light text-dark">
    <div class="card-body">
      <h3 class="pt-5 work-heading">WE WORK WITH</h3>
      <hr class="work-underline">
      <br><br>
      <div class="work-box">
        <div class="carouse">
          <img src="../../assets/images/tool1.jpg" class="dotImg">
          <img src="../../assets/images/tool2.jpg" class="dotImg">
          <img src="../../assets/images/tool1.jpg" class="dotImg">
          <img src="../../assets/images/tool3.jpg" class="dotImg">
          <img src="../../assets/images/tool1.jpg" class="dotImg">
          <img src="../../assets/images/tool3.jpg" class="dotImg">
        </div>

        <div class="carouse">
          <img src="../../assets/images/tool3.jpg" class="dotImg">
          <img src="../../assets/images/tool1.jpg" class="dotImg">
          <img src="../../assets/images/tool3.jpg" class="dotImg">
          <img src="../../assets/images/tool2.jpg" class="dotImg">
          <img src="../../assets/images/tool3.jpg" class="dotImg">
          <img src="../../assets/images/tool2.jpg" class="dotImg">
        </div>

      </div>

      <!-- The dots/circles -->
      <div class="pt-5 pb-4 text-center">
        <span class="dot" (click)="currentCar(1)"></span>
        <span class="dot" (click)="currentCar(2)"></span>
      </div>
    </div>
  </div>

  <!-- Contact Information -->
  <div class="card bg-warning text-white">
    <div class="card-body row justify-content-center">
      <div class="col-md-4 row contact-col">
        <img src="../../assets/images/wallet.jpg" class="rounded-circle col-4 contact-img">
        <a  class="col-7 contact-text">Phone:<p>+149 75 23 222 35</p> </a>
      </div>
      <div class="col-md-4 row contact-col">
        <img src="../../assets/images/wallet.jpg" class="rounded-circle col-4 contact-img">
        <a class="col-7 contact-text">272 Linden Avenue Winter Park, FL 32789 </a>
      </div>
      <div class="col-md-4 row contact-col">
        <img src="../../assets/images/wallet.jpg" class="rounded-circle col-4 contact-img">
        <a class="col-7 contact-text">E-mail: <p>renovate@mail.com</p></a>
      </div>
    </div>
  </div>

  <!-- 4 Div -->
  <div class="card bg-light text-dark">
    <div class="card-body">
      <div class="row">
        <!-- Div1 -->
        <div class="col-md-3 p-3"><b>About Us</b>
          <div class="divider-lines">
            <hr class="first"><hr class="second">
          </div>       
          <p>
            Founded by Kevin Smith back in 2000. Reovate has established itself as one of the greatest
            and prestigious providers of construction focused interior renovation  services and building.
          </p>
          <div class="text-white">
            <i class="fa fa-facebook footer-icon"></i>
            <i class="fa fa-twitter footer-icon"></i>
            <i class="fa fa-linkedin footer-icon"></i>
            <i class="fa fa-pinterest footer-icon"></i>
          </div>
        </div>
        <!-- Div2 -->
          <div class="col-md-3 footer p-3"><b>Our Services</b>
            <div class="divider-lines">
              <hr class="first"><hr class="second">
            </div>         
            <ul class="p-0">
            <li class="pt-2"> Interior Renovation</li>
            <li class="pt-2"> Design and Build</li>
            <li class="pt-2"> Tiling and Painting</li>
            <li class="pt-2"> Paver Walkways</li>
            <li class="pt-2"> Household Repairs</li>
            <li class="pt-2"> Solar Systems</li>
          </ul>
        </div>
        <!-- Div3 -->
        <div class="col-md-3 p-3"><b>Categories</b>
          <div class="divider-lines">
            <hr class="first">
            <hr class="second">
          </div>          
          <div class="d-flex flex-wrap bg-light">
            <div class="p-2 border ml-2 mt-2">Build</div>
            <div class="p-2 border ml-2 mt-2">Design</div>
            <div class="p-2 border ml-2 mt-2">Flooring</div>
            <div class="p-2 border ml-2 mt-2">Painting</div>
            <div class="p-2 border ml-2 mt-2">Pavers</div>
            <div class="p-2 border ml-2 mt-2">Plumbing</div>
            <div class="p-2 border ml-2 mt-2">Renovation</div>
            <div class="p-2 border ml-2 mt-2">Repairs</div>
            <div class="p-2 border ml-2 mt-2">Solar Systems</div>
            <div class="p-2 border ml-2 mt-2">Tiling</div>
          </div>
        </div>
        <!-- Div4 -->
        <div class="col-md-3 p-3">
          <b>Latest Posts</b>
          <div class="divider-lines">
            <hr class="first">
            <hr class="second">
          </div>         
          <div class="footerFour">
            <div><img src="../../assets/images/tool1.jpg" class="footer-img"></div>
            <div class="footerFourHeadline">
              What a Difference a Few Months Make
              <div class="date">April 25, 2015</div>
            </div>
          </div>
          <br>
          <div class="footerFour">
            <div><img src="../../assets/images/tool2.jpg" class="footer-img"></div>
            <div class="footerFourHeadline">
              Kitchen and Living Room Renovation<br>
              <div class="date">April 17, 2015</div>
            </div>
          </div>
          <br>  
        </div>
      </div>
    </div>
  </div>

  <p class="copyright">@Copyright 2015 Renovate Template by QaunticaLabs</p>
</div>